<div class="d-flex justify-content-between align-items-center mb-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 breadcrumb-custom">
            <li class="breadcrumb-item">Portal</li>
            <li class="breadcrumb-item active" aria-current="page" id="currentPageName">New Report</li>
        </ol>
    </nav>
    
    <div>
        <button class="btn btn-light position-relative">
            <i class="bi bi-bell"></i>
            <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
        </button>
    </div>
</div>